@font-face {
    font-family: Rudaw;
    src: url('./../public/assets/fonts/NewRudaw-Regular.ttf');
}

:root {
    /* --primary-color: #892CDC; */
    --primary-color: #5365D8;
    --danger-color: #dc3545;
    --dark-grey-color: #878787;
    --success-color: #48c774;
    --upload-container-active-bg: white;
    --upload-container-active-border: #f2d7ff;
    --upload-container-disabled-bg: white;
    --upload-container-disabled-border: #ffd1d1;
    --upload-container-inner-spin: #696969;
}
body{
    overflow-x: hidden;
}
* {
    font-family: "vazir";
}
div[role="alert"],.ant-form-item-extra{
    font-size: 12px !important;
}

.custom-box-shadow{
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
}
.is-size-6 {
    font-size: 1rem !important;
}
.is-ltr{
    text-align: left;
    direction: ltr !important;
}
.is-icon-prefix{
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.is-success-text {
    color: var(--success-color) !important;
}


.is-danger-text{
    color:var(--danger-color) !important;
}
.is-primary-text{
    color:var(--primary-color) !important;
}
.is-dark-grey-text{
    color:var(--dark-grey-color) !important;
}

.is-primary-bg{
    background-color: var(--primary-color) !important;
}


.logo{
    width: 100%;
}
.dashboard-menu-item{
    height: 3.75rem !important;
    padding: 0.625rem !important;
    padding-right: 2.813rem !important;
}

.custom-icon{
    color: inherit !important;
    font-size: 1rem !important;
    margin-bottom: -4px !important;
}

#comming-soon-icon{
    width: 100%;
    height: 100%;
}

/* Uploader related classes  */

.upload-container-base{
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    
}
.upload-container-active{
    background: var(--upload-container-active-bg);
    border: 3px dashed var(--upload-container-active-border);
   
}

.upload-container-disabled{
    background: var(--upload-container-disabled-bg);
    border: 3px dashed var(--upload-container-disabled-border);
   
}
.upload-container-spin{
    color: var(--upload-container-inner-spin) !important;
    margin: 10px;
}

.draggble{
    cursor: move;
}
.draggble image{
    cursor: pointer !important;
}
 
.ant-popover-buttons{
    text-align: right !important;
    direction: initial !important;
}

.is-round-tag{
    border-radius: 30px !important;
}
.joblist-table th, .joblist-table td{
    text-align: center !important;
}

.ant-layout-sider-trigger{
    background:none !important;
}

.price-table{
    
}
.price-table-primary-bg .ant-card-head{
    background: var(--primary-color);
    
}


/* landing page classes */
.landing-main-wraper{
    background: white  !important;
    padding: 2rem;
}
.landing-main-wraper .ant-layout-header{
    background: transparent !important;
}

.landing-menu{
    border: none !important; 
    font-size: 18px !important;
}

.why-zhir-card{
    position: relative;
    min-height: 25rem;
    background: rgb(239,244,251) !important;
    background: linear-gradient(360deg, rgba(239,244,251,1) 0%, rgba(0,181,255,0) 100%) !important;
}
.why-zhir-card object{
    /* width: 70%; */
    position: absolute;
    left: -2rem;
    bottom: -2rem;
}

